<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>RESULTADOS DA PESQUISA:</h1>
    {{#if encontrou}}
        <li>{{resultado.title}}</li>
        <p>{{resultado.description}}</p>
    {{else}}
        <h3>Nenhum resultado encontrado</h3>
    {{/if}}
</body>
</html>